name: CI-CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  build-test-push-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'

    - name: Install dependencies
      run: |
        pip install -r requirements.txt

    - name: Run tests
      run: |
        python -m unittest discover tests

    - name: Log in to DockerHub
      uses: docker/login-action@v2
      with:
        username: tahsinuldev
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build Docker image
      run: |
        docker build -t tahsinuldev/flask-devops-app:latest .

    - name: Push Docker image
      run: |
        docker push tahsinuldev/flask-devops-app:latest

    - name: Deploy to EC2
      uses: appleboy/ssh-action@v1.0.3
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ${{ secrets.EC2_USER }}
        key: ${{ secrets.EC2_SSH_KEY }}
        script: |
          docker pull tahsinuldev/flask-devops-app:latest
          docker stop flask-app || true
          docker rm flask-app || true
          docker run -d -p 80:5000 --restart always --name flask-app tahsinuldev/flask-devops-app:latest
